@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Libre+Baskerville");

@media screen and (min-width: 1150px) {
  .mySlides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    margin-top: 20px;
    margin-bottom: 5%;
    align-items: center;
  }

  /* Slideshow container */
  .slideshow-container {
    /* margin: auto; */
    margin-top: 5%;
    width: 100%;
    height: 420px;
    background-color: #def4ecad;
  }

  .slideshow-container h1 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;
  }

  /* Certificate text */
  .text {
    text-align: justify;
    margin-left: auto;
    width: 100%;
    border: 2px solid blue;
    margin-right: 15%;
    height: 350px;
    border: 2px solid grey;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 1px;
  }

  .text p {
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    text-align: justify;
    margin-left: 35%;
    margin-right: auto;
    width: 65%;
    height: 350px;
    border: 2px solid grey;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 1px;
  }

  .numbertext img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
}

@media only screen and (min-width: 360px) {
  .mySlides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    margin-top: 20px;
    margin-bottom: 5%;
    align-items: center;
    /* border: 2px solid red; */
    height: 620px;
  }

  /* Slideshow container */
  .slideshow-container {
    margin-top: 5%;
    width: 100%;
    height: 700px;
    background-color: #def4ecad;
    /* border: 2px solid blue; */
  }

  .slideshow-container h1 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;
    color: #f411d6;
  }

  /* Certificate text */
  .text {
    text-align: justify;
    margin-left: auto;
    width: 80%;
    border: 2px solid blue;
    margin-right: 15%;
    height: 300px;
    border: 2px solid grey;
    margin-top: 1px;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    transition: color 0.3s;
  }
  .text:hover {
    background-color: rgb(253, 234, 234);
    color: black;
  }
  .text p {
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    text-align: justify;
    margin-left: 10%;
    margin-right: auto;
    width: 80%;
    height: 300px;
    border: 2px solid grey;
    margin-top: 1px;
    align-items: center;
  }

  .numbertext img {
    width: 100%;
    height: 100%;
  }

  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.dots-container{
  text-align: center;
  margin-top: 2px;
}
  .active {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
}