<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="static\css-folder\styles.css">
      <link rel="stylesheet" href="static\css-folder\slideshow.css">
      <link rel="stylesheet" href="static\css-folder\ani.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
      <link rel="icon" type="image/x-icon" href="static/images/image.png">

      <title>Raja-Ahirwar-Portfolio</title>
      <style>

         .div-d-a img
         {
            margin-left: 80px;
            margin-right: auto;
            <!-- border: 2px solid red; -->
            behavior: url(PIE.htc);
            height: 45%;
            width: 80%;
         }
         .p1{
            font-size: 100px;
         }
         @media screen and (min-width: 576px) {
            .div-d-a img
         {
            margin-left: 45px;
            margin-right: 45px;
            border: 2px solid pink;
            behavior: url(PIE.htc);
            height: 40%;
            width: 80%;
         }
         }
         @media screen and (min-width: 360px) {
            .div-d-a img
         {
            margin-left: 22px;
            margin-right: 45px;
            <!-- border: 2px solid blue; -->
            behavior: url(PIE.htc);
            height: 40%;
            width: 80%;
         }
         .p1{
            font-size: 50px;
         }
         @media screen and (min-width: 1023px) {
            .div-d-a img
         {
            margin-left: 40px;
            margin-right: auto;
            <!-- border: 2px solid red; -->
            behavior: url(PIE.htc);
            height: 30%;
            width: 80%;
         }
      }
      @media screen and (min-width: 1150px) {
         .div-d-a img
      {
         margin-left: 40px;
         margin-right: auto;
         <!-- border: 2px solid red; -->
         behavior: url(PIE.htc);
         height: 30%;
         width: 80%;
      }
   }
      </style>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
        <nav class="nav container sticky">
            <a href="/" class="nav__logo"><img src="static/images/image.png"></a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="/" class="nav__link">About Us</a>
                    </li>
                    <li class="nav__item">
                        <a href="/services" class="nav__link">Services</a>
                    </li>
                    <li class="nav__item">
                        <a href="/projects" class="nav__link">Projects</a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">Experience</a>
                    </li>
                    <li class="nav__item">
                        <a href="/education" class="nav__link">Education</a>
                    </li>
                    <li class="nav__item">
                        <a href="/contect" class="nav__link">Contact Us</a>
                    </li>
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="nav__action">
                <!-- search button -->
                <i class="ri-search-line nav__search" id="search-btn"></i>
                <!-- login button -->
                <i class="ri-user-line nav__login" id="login-btn"></i>
                <!-- toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
      </header>

      <!--==================== SEARCH ====================-->
      <div class="search" id="search">
         <form action="" class="search__form">
            <i class="ri-search-line search__icon"></i>
            <input type="search" placeholder="What are you looking for?" class="search__input">
         </form>

         <i class="ri-close-line search__close" id="search-close"></i>
      </div>

      <!--==================== LOGIN ====================-->
      <div class="login" id="login">
         <form action="" class="login__form">
            <h2 class="login__title">Log In</h2>
            
            <div class="login__group">
               <div>
                  <label for="email" class="login__label">Email</label>
                  <input type="email" placeholder="Write your email" id="email" class="login__input">
               </div>
               
               <div>
                  <label for="password" class="login__label">Password</label>
                  <input type="password" placeholder="Enter your password" id="password" class="login__input">
               </div>
            </div>

            <div>
               <p class="login__signup">
                  You do not have an account? <a href="#">Sign up</a>
               </p>
   
               <a href="#" class="login__forgot">
                  You forgot your password
               </a>
   
               <button type="submit" class="login__button">Log In</button>
            </div>
         </form>

         <i class="ri-close-line login__close" id="login-close"></i>
      </div>

      <!--==================== MAIN ====================-->
      <!--=============== MAIN JS ===============-->
      <script src="static\js\main.js"></script>
      <div class="content" id="myDIV">
         <div class="text-container">
            <div class="below-div">
               <p style="text-align: center;" class="p1">Our Experiences</p>
            </div>
         </div>
     </div>
     <section class="sec-A">
      <div class="div-c">
         <div class="div-d">
            <h1>Prudent Systems Pvt. Ltd.</h1>
            <div class="div-d-a">
               <img src="/static/images/prudent.png">
           </div>
            <p>
               <h3>Designation:-Software Developer Intern</h3>
               <h3>From:- 01-09-2023 To 12-04-2024</h3>
            </p>
         </div>
         <div class="div-e">
            <h1>Suvidha Foundation</h1>
            <div class="div-d-a">
               <img src="/static/images/suvidha.jpg">
           </div>
           <p>
            <h3>Designation:-Data Analytics</h3>
            <h3>From:- 17-01-2023 To 17-02-2023</h3>
         </p>
         </div>
      </div>

      
      </section>  
      <footer>
         <div class="cont">
             <div class="row">
                   <div class="col" id="company">
                       <img src="static/images/image.png" alt="" class="logo">
                       <p>
                         We are specialized in designings, make your business a brand.
                         Try our premium services.
                       </p>
                       <div class="social">
                         <a href=""><i class="fab fa-facebook"></i></a>
                         <a href="https://github.com/raja1504"><i class="fab fa-github"></i></a>
                         <a href="https://api.whatsapp.com/send?phone=917489549761"><i class="fab fa-whatsapp"></i></a>
                         <a href="mailto:rajaahirwar1504@gmail.com"><i class="fa fa-envelope"></i></a>
                         <a href="https://www.linkedin.com/in/raja-ahirwar-cse/"><i class="fab fa-linkedin"></i></a>
                       </div>
                   </div>
     
     
                   <div class="col" id="services">
                      <h3>Connect...</h3>
                      <div class="links">
                         <a href="https://auth.geeksforgeeks.org/user/rajabsmxn3/?utm_source=geeksforgeeks&utm_medium=my_profile&utm_campaign=auth_user">GeeksforGeeks</a>
                         <a href="https://github.com/raja1504">GitHub</a>
                         <a href="https://leetcode.com/Raja_Ahirwar/">LeetCode</a>
                         <a href="https://www.linkedin.com/in/raja-ahirwar-cse/">LinkedIn</a>
                      </div>
                   </div>
     
                   <div class="col ab" id="useful-links">
                      <h3>Links</h3>
                      <div class="links">
                         <a href="/">Home</a>
                         <a href="/">About Us</a>
                         <a href="/services">Services</a>
                         <a href="/projects">Projects</a>
                         <a href="">Experience</a>
                         <a href="https://iportfolio-raja.vercel.app/">Portfolio</a>
                         <a href="/contect">Contact Us</a>
                      </div>
                   </div>
     
                   <div class="col" id="contact">
                       <h3>Contact</h3>
                       <div class="contact-details">
                          <i class="fa fa-location"></i>
                          <p>387, Lal Pathar, Ganj Basoda, Dist. Vidisha <br>Madhya Pradesh, India 464221</p>
                       </div>
                       <div class="contact-details">
                          <i class="fa fa-envelope"></i>
                          <p><a href="mailto:rajaahirwar1504@gmail.com" style="color:white;">rajaahirwar1504@gmail.com</a></p>
                       </div>
                       
                       <div class="contact-details">
                        <br>
                        <i class="fa fa-phone"></i>
                        <p>+91 7489549761</p>
                     </div>
                   </div>
             </div>
     
             <div class="row">
                   <div class="form">
                     <form action="">
                         <input type="text" placeholder="Email here...">
                         <button><i class="fa fa-paper-plane"></i></button>
                     </form>
                   </div>
             </div>
     
         </div>
      </footer>
      <script src="static\js\main.js"></script>

      <!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/66585c619a809f19fb36e8bb/1hv4ihobv';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
<!--End of Tawk.to Script-->
   </body>
</html>
